DATABASES = {
    'default': {
            'ENGINE': '{{ django_project_db_engine }}',
            'NAME': '{{ django_project_databse }}',
            'USER': '{{ django_project_db_user }}',
            'PASSWORD': '{{ django_project_db_password }}',
            'HOST': '{{ django_project_db_host }}',
            'PORT': '{{ django_project_db_port }}',
            'ALLOWED_HOSTS' = ['127.0.0.1', 'localhost', '{{ ansible_host }}'],
    }
}